{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxBracketSameLine": true,
  "trailingComma": "es5",
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "^@web/components/(.*)$",
    "^@web/services/(.*)$",
    "^@web/utils/(.*)$",
    "^@web/utils/hooks/(.*)$",
    "^@web/contexts/(.*)$",
    "^@mawebin/types/(.*)$",
    "^(@web/config$)|^@web/config/(.*)$",
    "^@web/assets/(.*)$",
    "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "stylelintIntegration": true
}
