.daily-bible {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daily-bible-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.daily-bible-center {
    position: absolute;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.daily-bible-center .center-cloud{
    /* position: absolute; */
    top: 0;
}

.daily-bible-center .center {
    position: absolute;
    top: 125px;
}

.daily-bible-center .center-bible {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.center-bible::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    animation: ripple 4s infinite ease-in-out;
    top: -30px;
    background-image:  linear-gradient(180deg, red, yellow);
    border-radius: 50%;
}


.daily-bible-bottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 50%;
}

@keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.3;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
}

.daily-bible-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    position: absolute;
    bottom: 170px;
    z-index: 2;
}

.modal-daily-bible {
    height: 35rem;
    max-width: 350px;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: white;
}

.sentence {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.sentence-detail {
    margin-top: 0.2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.modal-background {
    position: relative;
}

.modal-button-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-btn-share {
    position: absolute;
    bottom: -100px;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}