.game-home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.game-header {
    background: linear-gradient(90deg, #00C2E4  0%, #0762C8 100%);
}

.header-right .header-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-left .header-icon {
    padding-top: 4px;
}

.header-avatar {
    position: absolute;
    top: 5vh;
    overflow: visible;
}

.header-avatar::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 102px;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    background: linear-gradient(90deg, #039CD9  0%, #0487D3 100%);
    z-index: -1;
}

.game-home-body {
    height: 80vh;
}

.game-body {
    margin-top: 0 !important;
}

.header-setting-icon:hover {
    color: black;
}

/* FOOTER */
.game-footer {
    background: linear-gradient(90deg, #0762C8 0%, #00C2E4 100%);
    position: absolute;
    bottom: 0;
}

.footer-left::after {
    content: "";
    position: absolute;
    border-right: white solid 2px;
    display: flex;
    left: -1px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    width: 0px;
    top: 25px;
}

.footer-left,
.footer-right {
    cursor: pointer;
}

.footer-left:hover,
.footer-right:hover {
    color: black;
}

/* GAME BODY: ROUND */
.round-item {
    position: relative;
    background: #00C2E4;
    border-radius: 22px;
    color: white;
    padding: 16px;
    margin: 1.2rem 0px !important;
    cursor: pointer;
}

.round-icon {
    position: absolute;
    top: -20px; 
}

.body-ranking .ranking-background {
    position: relative;
}

.ranking-background-item__first {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ranking-background-item__first::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 80px;
    bottom: -60px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

    border-width: 0 25px 25px;
    border-style: solid;
    border-color: transparent #FFF104 transparent #FFF104;
}

.ranking-background-item__first::before {
    position: absolute;
    content: "1";
    width: 32px;
    height: 32px;
    z-index: 1;

    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    background: #FFCD39;
    color: white;
    text-align: center;
    padding: 1px;
    font-weight: 500;
    font-size: 20px;
}

.ranking-background-item__second {
    position: absolute;
    top: 40%;
    left: 20px;
}

.ranking-background-item__second::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 80px;
    bottom: -60px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

    border-width: 0 25px 25px;
    border-style: solid;
    border-color: transparent #FFC107 transparent #FFC107;
}

.ranking-background-item__second::before {
    position: absolute;
    content: "2";
    width: 32px;
    height: 32px;
    z-index: 1;

    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    background: #FFCD39;
    color: white;
    text-align: center;
    padding: 1px;
    font-weight: 500;
    font-size: 20px;
}

.ranking-background-item__third {
    position: absolute;
    top: 45%;
    right: 20px;
}

.ranking-background-item__third::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 80px;
    bottom: -60px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

    border-width: 0 25px 25px;
    border-style: solid;
    border-color: transparent #FF7B02 transparent #FF7B02;
}

.ranking-background-item__third::before {
    position: absolute;
    content: "3";
    width: 32px;
    height: 32px;
    z-index: 1;

    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    background: #FFCD39;
    color: white;
    text-align: center;
    padding: 1px;
    font-weight: 500;
    font-size: 20px;
}

.round-item:hover {
   color: wheat;
}

/* GAME MAP */
.map {
    width: 100%;
    height: 100%;
    position: relative;
}

.map .round-step {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #9A2FE3;

    border: 10px solid #F4BCA3;
    box-shadow: 0px 5px 10px 4px #585858;
    position: absolute;
}

.round-step .round-step-name {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    line-height: 1.2rem;
    margin-top: 5px;
}

/* .round-step .round-step-star {
    display: flex;
} */

.round-step-star .first-star svg,
.round-step-star .second-star svg,
.round-step-star .third-star svg {
    color: #BCBEC0;
}


.round-step-star .first-star__fill svg,
.round-step-star .second-star__fill svg,
.round-step-star .third-star__fill svg {
    color: #F8DA63;
}

.round-step-star .first-star,
.round-step-star .first-star__fill {
    position: absolute;
    bottom: 0;
    left: -5px;
}

.round-step-star .third-star,
.round-step-star .third-star__fill  {
    position: absolute;
    bottom: 0;
    right: -5px;
}

.round-step-star .second-star,
.round-step-star .second-star__fill {
    position: absolute;
       
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.map .round-step-locked {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #3C3C3C;

    border: 10px solid #919191;
    box-shadow: 0px 5px 10px 4px #585858;
    position: relative;
}

.round-step-locked-icon {
    color: #9A9A9A;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.clickable_stage {
    z-index: 2;
    position: absolute;
    bottom: 100px;
    
    left: 47%;
    transform: translate(-50%, 50%);
}